	html, body {
		overflow-x: hidden;
		font-family: 'Source Sans Pro', sans-serif;
		min-height: 100%;
	}

	.bg_corpo {
		height: 470px;
		background: url(../images/bg_2.png) repeat-x;
		background-position: 30% -180px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.bg_cook {
		background-color: #ffffff;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.call_cook {
		background-color: #272727;
		padding: 10px 0px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.invite h4 {
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	.invite div img {
		height: auto;
		width: 60px;
		margin: 0 auto;
	}
	.invite span a {
		color: #3F3F3F;
	}
	.invite span a:hover {
		color: #cecece;
	}

	.nav_logged {
		/*background-color: rgba(0, 0, 0, 0.4);*/
		border-width: 0px;
		border-radius: 0px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.nav_logged:hover {
		/*background-color: rgba(0, 0, 0, 0.7);*/
	}
	.floating_search {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.floating_search .col-sm-4 {
		padding-top: 10px;
		background-color: rgba(0,0,0,0.1);
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.floating_search .col-sm-4:hover {
		background-color: rgba(0,0,0,0.4);
	}

	#client_logged, #cook_logged {
	}
	#img_profile img {
		max-width: 40px;
		max-height: 40px;
		min-height: 40px;
		height: auto;
		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		border-radius: 45px;
	}
	.nav_cdv {
		background-color: rgba(0, 0, 0, 0.1);
		border-width: 0px;
		border-radius: 0px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.navbar-header .logomarca {
		max-width: 230px;
		height: auto;
		padding: 10px 15px;
		color: #ffffff;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.navbar-header .logomarca:hover {
		color: #f5f5f5;
	}
	header .navbar .badge {
		font-size: 9px;
		border: 1px solid;
	}
	.dropdown-cdv {
		padding-bottom: 5px !important;
		padding-top: 5px !important;
	}
	.navbar ul.dropdown-menu li a {
		color: #484848;
	}
	#nome {
		position: relative;
		top: 2px;
	}
	.facebook_img_profile {
		height: auto;
		width: 40px;
	}
	.client_logged {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.logomarca img {
		width: 15%;
		height: auto;
		float: left;
		margin-right: 15px;
	}
	.logomarca span {
		font-size: 19px;
	}
	.logo_mini {
		width: 30%;
		height: auto;
		margin-left: 0;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.black {
		background-color: rgba(0, 0, 0, 0.5);
	}

	/* CDV Style */
	.email_input .email_ok {
		padding-top: 20px;
	}
	.email_input .email_ok i {
		color: #2ECC71;
	}
	.email_input .email_fail {
		padding-top: 20px;
	}
	.email_input .email_fail i {
		color: #D24D57;
	}

	.nav_cdv:hover {
		background-color: rgba(0,0,0,0.7);
	}
	.nav .chat li a {
		padding: 2px 2px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.nav .chat li a:hover .prev_mensagem span {
		color: #f5f5f5;
	}
	.nav .chat .list-inline {
		margin-left: 0px;
	}
	.nav .chat .nome span {
		max-width: 100px;
		min-width: 100px;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		top: 5px;
	}
	.nav .chat .imagem {

	}
	.nav .chat .prev_mensagem {

	}
	.nav .chat .mensagem {

	}
	.nav .chat .prev_mensagem span {
		font-size: 0.8em;
		color: #8c8c8c;
		max-width: 120px;
		min-width: 130px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
		position: relative;
		top: 4px;
	}
	.nav .chat .status {

	}
	.nav .chat .status span {
		text-align: right;
		font-size: 0.7em;
	}
	.nav .chat .status span i {

	}
	.nav .chat > li {
		margin-bottom: 5px;
	}
	.nav .chat #img_profile img {
		max-width: 30px;
		max-height: 30px;
		min-height: 30px;
	}
	.nav .chat .list-inline > li {
		display: inline-block;
	}
	.nav_logged .nav li a {
		color: #323232;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}

	.nav_cdv .nav li a {
		color: #ffffff;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}

	.nav_logged .nav li a:hover {
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.nav_cdv .nav li a:hover {
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.nav_cdv .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #ffffff;
		outline: none;
		background-color: #f24e4e;
		/*background-color: #f24e4e;*/
	}
	.nav_logged .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #f24e4e;
		outline: none;
		background-color: #ffffff;
	}
	.nav_logged .logomarca span {
		color: #323232;
		font-size: 0.8em;
	}
	/* End CDV Style */
	.cap_adress {
		margin-top: 35px;
		margin-bottom: 45px;
	}
	.cap_adress h1 {
		font-size: 50px;
		font-weight: 700;
		color: #ffffff;
		text-transform: capitalize;
		text-shadow: 1px 1px #323232;
	}
	.cap_adress h2 {
		color: #ffffff;
		text-shadow: 1px 1px #323232;
		font-weight: 600;
	}
	.cap_adress h3 {
		font-size: 25px;
		color: #ffffff;
		font-weight: 600;
		text-shadow: 1px 1px #323232;
	}
	.cap_adress h4, .cap_adress h5 {
		color: #ffffff;
		font-weight: 600;
		text-shadow: 1px 1px #323232;
	}

	.text_top h2, .text_top h4 {
		color: #ffffff;
		margin-top: 45px;;
	}
	.middle_top {
		background-color: rgba(0,0,0,0.3);
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		padding: 20px 10px;
	}
	.middle_top:hover {
		background-color: rgba(0,0,0,0.7);
	}
	.email {
		background-color: rgba(0, 0, 0, 0.3);
		margin: 0 auto;
		padding-top: 20px;
		margin-top: 35px;
	}
	.email label {
		color: #ffffff;
		font-size: 16px;
		font-weight: lighter;
	}
	.email .well {
		background-color: rgba(0,0,0,0.5);
		border: #323232;
	}
	.email_input {
		margin: 0 auto;
	}
	.email_input input {
		margin-bottom: 15px !important;
	}
	.email_input .form-control:focus {
		border-color: #f24e4e;
		box-shadow: none;
	}
	.btn {
		outline: none !important;
	}

	.indicator {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.indicator a i {
		color: #b7b7b7;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.indicator a i:hover {
		color: #f24e4e;
	}

	.indicator_down {
		position: relative;
		top: 85px;
		color: #eeeeee;
	}

	#how_works {

	}

	#why_cook {
		margin-bottom: 45px;
	}
	#why_cook a:hover h1 {
		color: #F24E4E;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	#why_cook img {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	#why_cook a:hover img {
		height: auto;
		width: 130px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}

	#why_cook, .contact, #testimonials {
		margin-top: 45px;
	}
	#how_works img, #why_cook img {
		width: 10%;
		height: auto;
		margin: 0 auto;
	}

	#how_works .panel-body h4 ,#why_cook .panel-body h4 {
		color: #7f8c8d;
	}
	#how_works .panel-body h6 {
		color: #7f8c8d;
	}

	#how_works .panel-body h4 {
		margin-bottom: 50px;
	}

	#how_works .row h1 ,#why_cook .row h1, .contact .row h1, #our_meal .row h1, #testimonials .row h1 {
		color: #484848;
	}
	#how_works .panel-body div p {
		background-color: #eeeeee;
		padding: 15px;
		border-radius: 125px;
		max-width: 75px;
		margin: 0 auto;
		text-align: center;

	}
	#testimonials .panel-heading img {
		height: auto;
		max-width: 250px;
	}
	#testimonials .panel-body h4 {
		color: #888888;
	}
	.meal .image_meals img {
		width: 100%;
		height: auto;
		margin: 5px auto;
	}

	.image_meals {
		position: relative;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.image_meals .price {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: #ffffff;
		padding: 5px;
		font-size: 1.2em;
		background: rgba(0,0,0,0.3);
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.meal_adress {

	}

	.image_meals .rating {
		color: #ffffff;
		position: absolute;
		top: 0px;
		right: 0px;	
		padding: 5px;
		font-size: 1em;
		background: rgba(0,0,0,0.3);
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;

	}
	.image_meals .rating i {
		color: #F7CA18;
		padding-right: 2px;
	}

	.meal .img_profile img {
		width: 60px;
		height: auto;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}

	.meal .img_profile2 img {
		width: 50px;
		height: auto;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		border-bottom: 3px solid #F24E4E;
	}
	.meal .img_profile2 img:hover {
		border-bottom: 1px solid #F24E4E;
	}
	.meal .img_profile2 {
		position: absolute;
		bottom: 0px;
		left: 0px;
		font-size: 1.6em;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;

	}

	.meal .img_profile2 h6 {
		color: #ffffff;
		font-size: 0.7em;

	}

	.detail_meal {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.detail_meal h2 {
		color: #484848;
		word-wrap: break-word;
	}
	.detail_meal h5 {
		color: #3A4149;
	}
	.detail_meal .meal_img img {
		width: 100%;
		margin: 5px auto;
	}
	.detail_meal .meal_img img:hover + .img_profile {
		bottom: -30px;
	}
	.detail_meal .name_profile_cook .rating img {
		border: none;
		height: auto;
		width: 20px;
	}
	.detail_meal .name_cook {
		color: #ffffff;
		font-size: 0.8em;
	}
	.detail_meal .rating i {
		color: #F7CA18;
		padding-right: 2px;
		font-size: 0.6em;
	}
	.detail_meal .value_rating {
		color: #ffffff;
		font-size: 0.8em;
	}
	.detail_meal .img_profile .name_cook {
		position: relative;
		word-wrap: break-word;
	}
	.detail_meal .img_profile .rating {
		position: absolute;
		bottom: 0px;
	}
	.meal_img .img_profile {
		position: absolute;
		background: rgba(0,0,0,0.5);
		font-size: 1.5em;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		bottom: 5px;
	}
	.meal_img .img_profile img {
		height: auto;
		width: 55px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		border-bottom: 2px solid #F24E4E;
	}
	.meal_img .img_profile img:hover {
	}

	.about_meal {
		margin: 5px 0px;
	}
	.about_meal .description {
		padding:10px 0px 0px;
		background-color: #f9f9f9;
	}
	.about_meal .description h4 {
		border-bottom: 1px solid #eeeeee;
	}

	.about_meal .social_media {
		padding: 15px 0px;
		border-bottom: 1px solid #eeeeee;
	}
	.about_meal .price {
		color: #;
	}
	.about_meal .description .list {
		margin: 5px 0px 10px;
		border-bottom: 1px solid #eeeeee;
	}

	.about_meal .end_map {
		padding: 10px 0px 0px;
		margin-top: 25px;
	}
	.about_meal .end_map .list div:first-child {
		margin-bottom: 8px;
	}
	.about_meal .end_map .list b {
		border-bottom: 1px solid #eee;
	}
	.about_meal .end_map .list {
		margin: 5px 0px 10px;
		border-bottom: 1px dashed #eee;
	}
	.about_meal .end_map .list h6 {
		color: #b7b7b7;
	}
	.about_meal .description .entrega_comida, .about_meal .description .retira_comida, .about_meal .description .em_casa_comida {
		margin: 5px;
	}
	.about_meal .description .entrega_comida img, .about_meal .description .retira_comida img, .about_meal .description .em_casa_comida img {
		height: 15px;
		width: auto;
		margin: 0 auto;
	}
	.about_meal .social_media span a {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-;
	}
	.about_meal .ingredient_title h2 {
		color: #484848;
		word-wrap: break-word;
		margin-top: 5px;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 5px;
	}
	.about_meal .ingredient_title h3 {
		color: #484848;
		word-wrap: break-word;
		margin-top: 5px;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 5px;
	}
	.ingredient_title h3 {
		color: #484848;
		word-wrap: break-word;
		margin-top: 5px;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 5px;
	}

	.about_meal .panel .acompanhamento_info {
	}
	.about_meal .panel .acompanhamento_info .row {
	}
	.about_meal .panel .acompanhamento_info .nome_acompanhamento {

	}
	.about_meal .panel .acompanhamento_info .preco_acompanhamento {

	}
	.about_meal .ingredient_info h4 {
		color: #838383;
		font-size: 1.1em;
	}
	.about_meal #map, #exibition_meal #map {
		max-width: 500px;
		max-height: 400px;
		height: 100%;
		width: 100%;
		margin-bottom: 20px;
	}
	.about_meal .social_media span a:hover, .social_media span a:focus {
		color: #3b5998;
	}
	.about_meal .send_msg {
		margin: 15px 0px;
	}
	.about_meal .send_msg {
	}
	.about_meal .img_profile_cook img {

	}
	.about_meal .name_profile_cook {

	}
	.msg_modal .contact_email {
		padding: 10px 0px;
		border-top: 1px solid #eeeeee;
		margin-top: 20px;
	}
	.msg_modal .contact_email h5 {
		color: #888888;
	}
	.msg_modal .msg_from {
		margin-bottom: 15px;
	}


	.mensagem_modal .modal-header {
		background-color: #f5f5f5;
		border-radius: 5px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0;;
	}
	.mensagem_modal .modal-content {

	}
	.order {

	}
	.order .modal-header {
		background-color: #eeeeee;

	}
	.order .panel {
		border: 1px solid #999999;
		
	}
	.order .list {
		border-bottom: 1px dashed #eeeeee;
		margin-bottom: 10px;
	}
	.order .img_meal {
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 20px;
	}
	.order .img_meal img {
		max-height: 100px;
		width: auto;
		margin: 0 auto;;
	}
	.order .alert_order {
		margin-top: 20px;

	}
	.order .alert_order h5 {
		border-top: 1px solid #eeeeee;
		padding-top: 30px;
		color: #D24D57;
		text-transform: uppercase;
	}
	.order .contain_order .table .title {
		color: #272727;
		border-bottom: 2px solid #eeeeee;
	}
	.order .details_order {
		border-bottom: 2px solid #eeeeee;
		padding-bottom: 5px;
		background: #eeeeee;
		padding-top: 5px;
	}
	.order .details_order span {
		font-size: 1.1em;
		color: #272727;
	}
	.order .grid_order {
		border: 1px solid #eeeeee;
		padding: 5px;	
	}
	.order .modal-footer {
		background-color: #d4d4d4;
	}
	.order .entrega, .order .retira {
		margin: 10px 0px;
		border-bottom: 1px dashed #838383;
		padding: 10px 0px 15px;
	}
	.order .local {
		margin: 10px 0px;
		padding: 10px 0px 15px;
	}
	.order .entrega_comida img, .order .retira_comida  img, .order .em_casa_comida img {
		height: 45px;
		width: auto;
		margin: 0 auto;
	}
	.order .nome_acompanhamento {
		padding: 10px 0px;
	}

	.order .order_title {
		font-size: 1.1em;
		padding: 10px 0px;
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 10px;
		color: #484848;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-weight: 600;
	}
	.order .side_dish_name {
		margin-bottom: 10px; 
	}
	.order .plate_name, .order .side_dish_name {
		font-weight: 600;
		color: #878787;
		font-size: 1.2em;
		padding: 5px 0px;
	}
	.order .sub_total {
		font-weight: 600;
		color: #03A678;
		font-size: 1.2em;
		margin-bottom: 10px;
	}
	.order .order_total_title {
		font-size: 1.4em;
		font-weight: 600;
		color: #272727;
	}
	.order .total {
		font-size: 1.4em;
		font-weight: 600;
		color: #03A678;
	}
	.order .campo_escolha input {
		width: 120px;
		height: auto;
	}
	.order .campo_escolha .input-group input {
		background: transparent;
		color: #555555;
		font-size: 1.1em;
		border: none;
		box-shadow: none;
		text-align: center;
	}

	.checkout .title legend {
		font-size: 1.2em;
	}
	.checkout .grid_confirma {
		border: 1px solid #eeeeee;
	}
	.checkout .grid_confirma .sub_total_prato {
		margin: 0 5px;
	}
	.checkout .valor_acomp > div {
		margin: 0 5px;
	}
	.checkout .verificar_acompanhamento, .checkout .confirma_pedido_servico, .checkout .conclusao_pedido_total {
		margin-top: 25px;
	}
	.checkout .acompanhamento_nome, .checkout .quantidade_acompanhamento {
		font-size: 1.0em;
		padding: 10px 0px;
	}
	.checkout .prato_confirma .prato_nome, .checkout .prato_confirma .quantidade_prato {
		font-size: 1.0em;
		padding: 5px 0px;
	}

	.checkout .conclusao_pedido_total .order_title legend {
		font-size: 1.4em;
		font-weight: 600;
	}
	.checkout .conclusao_total_soma input  {
		font-size: 1.3em;
		font-weight: 600;
		color: #26A65B;
	}
	.grid_confirma .sub_total_prato input, .acompanhamento_confirma .valor_acomp input, .servico_confirma .sub_total_servico input {
		font-weight: 600;
		color: #26A65B;
	}
	.checkout .nome_acomp div {
		height: 35px;
	}
	.checkout .quant_acomp div {
		height: 35px
	}
	.checkout .valor_acomp div {
		height: 30px;
	}
	.checkout .sub_total_servico, .checkout .conclusao_total_soma {
		margin: 0 5px;
	}
	.checkout .credit-card-payment {
		margin-top: 15px;
	}
	.checkout .acompanhamento_confirma .sub_total_acompanhamento_0 input, .checkout .acompanhamento_confirma .sub_total_acompanhamento_1 input, .checkout .acompanhamento_confirma .sub_total_acompanhamento_2 input, .checkout .acompanhamento_confirma .sub_total_acompanhamento_3 input, .checkout .acompanhamento_confirma .sub_total_acompanhamento_4 input {
		display: none;
	}

	.insert_plate, .tit_nova_senha {
		margin-top: 25px;
	}
	.insert_plate .panel-body label {
		font-weight: bold;
	}
	.insert_plate .division_one, .insert_plate .division_two, .insert_plate .division_three {
		border-bottom: 1px dashed #eee;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.insert_plate .division_two .checkbox label input[type="checkbox"] {
		font-size: 25px;
		height: 30px;
	}
	.body-sucesso {
		border: 1px solid #2ECC71 !important;
	}
	.panel-sucesso {
		color: #ffffff !important;
		background-color: #2ECC71 !important;
	}
	.panel-sucesso h3 {
		color: #ffffff;
	}
	.adicional_entrega, .adicional_cliente_busca, .adicional_cliente_local {
		display: none;
	}
	.insert_plate .adicional_entrega .cadastro_bairro input {
		margin-bottom: 15px;
	}
	.insert_plate .confirma_endereco {
		margin-top: 10px;
	}
	.insert_plate #remove_acompanhamento {
		display: none;
	}
	.conta_cliente {
		margin-top: 25px;
	}
	.conta_cliente .bt_acessar_todos {
		background-color: #f9f9f9;
	}
	.conta_cliente .botoes_conta_cliente {
		margin-bottom: 15px;
		border: 1px solid #ddd;
	}
	.conta_cliente .botoes_conta_cliente .group div > div {
		margin-bottom: 5px;
	}
	/* início controle */
	.conta_cliente .controle .imagem_usuario img {
		max-height: 80px;
		max-width: 80px;
	}
	.conta_cliente .valor_avaliacao {
	}
	.conta_cliente .valor_avaliacao a:hover {
		cursor: not-allowed;
	}
	.conta_cliente .controle ul li a:hover {
		color: #f24e4e;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.conta_cliente .foto_nome_cozinheiro {
		background-color: #f9f9f9;
	}
	.conta_cliente .controle .list-controle {

	}
	.conta_cliente .controle .list-controle a div {
		padding: 10px 0px 10px 10px;
		border-bottom: 1px dashed #eeeeee;
		font-size: 1.2em;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	.conta_cliente .controle .list-controle a:hover div {
		border-bottom: 1px dashed #cecece;
		padding-left: 13px;
	}

	.conta_cliente .controle .list-controle-button div {
		padding: 10px 0px 10px;
		border-bottom: 1px dashed #eeeeee;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.conta_cliente .controle .list-controle-button:hover div {
		border-bottom: 1px dashed #cecece;
	}

	.conta_cliente .controle_titulo h1 {
		margin-top: 0px;
	}
	.conta_cliente .informacoes .prato_disponivel h4 {

	}
	.conta_cliente .informacoes .prato_disponivel h4 i {
		color: #2ECC71;
	}
	.conta_cliente .informacoes .prato_disponivel .preco h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .prato_disponivel .data_hora h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .prato_disponivel .quant_vendido h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .prato_disponivel .parar_venda h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .prato_disponivel .acompanhamento h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .prato_disponivel .opcoes_acompanhamento {

	}
	.conta_cliente .informacoes .prato_disponivel .grid_acompanhamento {
		background-color: #f5f5f5;
	}
	.conta_cliente .informacoes .divisao {
		margin: 5px 0px;
		border-right: 1px solid #eeeeee;
	}
	.conta_cliente .informacoes .divisao:last-child {
		border-right: none;
	}
	.conta_cliente .informacoes {

	}
	/* fim controle */
	.conta_cliente .sobre_cliente, .pratos_vendidos, .pontuacao_cozinheiro, .conta_cliente .prato_degustado, .conta_cliente .prato_vendido, .conta_cliente .prato_a_venda, .conta_cliente .favoritos {
		margin-bottom: 25px;
	}
	.conta_cliente .apresenta_cliente {

	}
	.conta_cliente .apresenta_cliente h1 {
		margin-top: 5px;
		word-wrap: break-word;
		margin-bottom: 20px;
	}
	.conta_cliente .intro h4 {
	}
	.conta_cliente .sobre_cliente {
		color: #8c8c8c;
	}
	.conta_cliente .prato_degustado {

	}
	.list-inline > li {
		display: -webkit-box;
	}
	.conta_cliente .info_cozinheiro_painel {
		margin: 10px 0px;
	}
	.conta_cliente .agradecimento {
		background-color: #f9f9f9;
		padding: 10px 0px;
	}
	.conta_cliente .pratos_compartilhados {
		background-color: #f1f1f1;
		padding: 10px 0px;
	}
	.conta_cliente .agradecimento .title, .conta_cliente .pratos_compartilhados .title {
		font-size: 1.6em;
	}
	.conta_cliente .agradecimento .valor_agradecimento, .conta_cliente .pratos_compartilhados .valor_pratos_compartilhados {
		font-weight: 600;
		font-size: 1.6em;
	}

	.conta_cliente .sobre_cliente h4 i {
		color: #4183D7;

	}
	.conta_cliente .favoritos h4 i {
		color: #F7CA18;
	}
	.conta_cliente .menu_cozinheiro h4 i {
		color: #F64747;
	}
	.conta_cliente .prato_degustado h4 i {
		color: #95A5A6;

	}
	.conta_cliente .prato_vendido h4 i {
		color: #26A65B;

	}
	.conta_cliente .prato_a_venda h4 i {
		color: #BFBFBF;
	}
	.conta_cliente .prato_degustado .divisao_chef {
		margin: 5px 0px;
		border-right: 1px solid #eeeeee;
		min-height: 140px;
	}
	.conta_cliente .prato_vendido .divisao_chef {
		margin: 5px 0px;
		border-right: 1px solid #eeeeee;
		min-height: 140px;
	}
	.conta_cliente .prato_degustado .divisao_prato {
		margin: 5px 0px;
		border-right: 1px solid #eeeeee;
	}
	.conta_cliente .prato_vendido .divisao_prato {
		margin: 5px 0px;
		border-right: 1px solid #eeeeee;
	}
	.prato_degustado .divisao_chef .img_chef img {
		height: auto;
		margin: 0 auto;
		max-width: 85px;
	}
	.prato_vendido .divisao_chef .img_chef img {
		height: auto;
		margin: 0 auto;
		max-width: 85px;
	}
	.prato_degustado .divisao_prato .img_prato img {
	}
	.prato_degustado .divisao_chef .titulo_chef h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_vendido .divisao_chef .titulo_chef h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_degustado .divisao_prato .comentario h6 {
		margin: 0px 0px 10px;
		text-align: center;
	}
	.conta_cliente .prato_degustado .divisao_prato .texto_comentario {
		word-wrap: break-word;
	}
	.conta_cliente .prato_degustado .divisao_prato .titulo_prato h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_degustado .divisao_comentario {
		margin: 5px 0px;
	}
	.conta_cliente .prato_degustado .divisao_comentario .titulo_comentario h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_degustado .divisao_comentario .texto_comentario {
		text-align: justify;
		overflow: hidden;
		max-height: 80px;
		text-overflow: ellipsis;
	}
	.detail_meal .prato_degustado .divisao_comentario .texto_comentario {
		text-align: justify;
		overflow: hidden;
		max-height: 80px;
		text-overflow: ellipsis;
	}
	.prato_degustado .divisao_chef .chef_nome h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.prato_degustado .divisao_prato .nome_prato h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.prato_degustado .divisao_comentario .titulo_comentario h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}

	.prato_vendido .divisao_prato .comentario h6 {
		margin: 0px 0px 10px;
		text-align: center;
	}
	.prato_vendido .divisao_prato .texto_comentario {
		word-wrap: break-word;
	}
	.prato_vendido .divisao_prato .titulo_prato h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.prato_vendido .divisao_comentario {
		margin: 5px 0px;
	}
	.conta_cliente .prato_vendido .divisao_comentario .titulo_comentario h5 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_vendido .divisao_comentario .texto_comentario {
		text-align: justify;
		overflow: hidden;
		max-height: 80px;
		text-overflow: ellipsis;;
	}
	.conta_cliente .prato_vendido .divisao_chef .chef_nome h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_vendido .divisao_prato .nome_prato h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}
	.conta_cliente .prato_vendido .divisao_comentario .titulo_comentario h6 {
		font-weight: 600;
		border-bottom: 1px solid #eeeeee;
	}

	.conta_cliente .favoritos {

	}
	.conta_cliente .favoritos .divisao_favoritos {

	}
	.conta_cliente .favoritos .divisao_favoritos .img_chef img {
		height: 85px;
		width: 85px;
		margin: 0 auto;
	}
	.conta_cliente .avaliacao {
		background-color: #f5f5f5;	
	}
	.conta_cliente .avaliacao h3 {
		margin: 5px 0px;
	}
	.conta_cliente .imagem_perfil img {
		margin: 0 auto;
	}
	.conta_cliente .prato_degustado ul.list-group .list-group-item:nth-child(even) {
		background-color: #f9f9f9;
	}
	.conta_cliente .prato_vendido ul.list-group .list-group-item:nth-child(even) {
		background-color: #f9f9f9;
	}
	.conta_cliente .menu_cozinheiro .title_meals h3 {

	}
	.pontuacao_cozinheiro .valor_pontuacao span {
		font-size: 1.2em;
	}
	.botoes_conta_cliente .group {
		background: #f5f5f5;
		overflow: auto;
		padding: 10px 10px;
	}

	.exibe_menu {

	}
	.exibe_menu  .row {
		border-bottom: 1px solid #eeeeee;
	}
	.exibe_menu h3 {
		color: #484848;
	}
	.avaliacao_prato {

	}
	.avaliacao_prato .prato {
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
	}
	.avaliacao_prato .prato .img_prato {
		margin-bottom: 15px;
	}
	.avaliacao_prato .prato .linha_prato, .avaliacao_prato .prato .linha_avaliacao_2, .avaliacao_prato .prato .linha_comentario {
		margin-bottom: 20px;
	}
	.avaliacao_prato .prato .info_avaliacao {
		
	}
	.feedback_compra {
		margin-top: 30px;
	}

	.feedback_compra .titulo_feed {
		border-bottom: 1px solid #eeeeee;
	}
	.feedback_compra .titulo_total {
		border-bottom: 1px solid #cecece;
	}
	.feedback_compra .soma_total .exibicao_soma_total h2 {
		font-weight: 600;
		color: #26A65B;
		padding: 30px 0px 5px;
	}
	.feedback_compra .ok-feed {
		padding-top: 10px;
		margin-top: 5px;
	}
	.feedback_compra .detalhe_cozinheiro, .feedback_compra .detalhe_pedido, .feedback_compra .detalhe_pedido_acompanhamento, .feedback_compra .prato_disponivel {
		margin: 10px 0px;
		color: #838383;
	}
	.feedback_compra .detalhe_pedido, .feedback_compra .detalhe_pedido_acompanhamento {
		word-wrap: break-word;
		text-align: justify;
		font-size: 1.2em;
		text-transform: capitalize;
	}
	.feedback_compra .detalhe_pedido .pedido, .feedback_compra .detalhe_pedido_acompanhamento .acompanha {
		margin-right: 5px;
	}
	.feedback_compra .detalhe_pedido .valor, .feedback_compra .detalhe_pedido_acompanhamento .valor_acomp {
		margin-left: 5px;
	}

	.feedback_compra .detalhe_cozinheiro img {
		height: 40px;
		width: auto;
	}
	.feedback_compra .nome_cozinheiro {
		font-size: 1.2em;
	}
	.feedback_compra .nome_cozinheiro .id_cozinheiro {
		font-style: italic;
		color: #b7b7b7;

	}
	.feedback_compra .part1 {
		border-right: 1px solid #eeeeee;

	}
	.feedback_compra .part2 {

	}
	.feedback_compra .block1, .feedback_compra .block2, .feedback_compra .block4 {
		border-bottom: 1px solid #eeeeee;
	}
	.feedback_compra .block3 {
		background: #eeeeee;
	}
	.feedback_compra .prato_disponivel {
		font-size: 1.4em;
	}
	.feedback_compra .entrega_comida img, .feedback_compra .retira_comida img, .feedback_compra .em_casa_comida img {
		height: 45px;
		width: auto;
		margin: 5px auto;
	}
	.feedback_compra  .opcao1, .feedback_compra  .opcao2, .feedback_compra  .opcao3 {
		margin: 10px 0px;
	}
	.feedback_compra .opcoes .list-inline > li {
		display: inline-block !important;
	}
	.feedback_compra .prato_disponivel .info span {
		font-weight: 600;
		color: #f24e4e;
	}
	.feedback_compra .endereco {
		font-size: 1.4em;
		color: #838383;
	}
	/* login */
	.login_email {
		margin-bottom: 10px;

	}
	.login_password {

	}


	/* end login */

	/* button cdv */
	.btn_cdv {
		color: #ffffff;
		background-color: #F24E4E;
		border-color: #B23939;
	}
	.btn_cdv:hover, .btn_cdv:focus, .btn-group.open .dropdown-toggle.btn_cdv {
		background-color: #F24E4E;
		border-color: #B23939;
		color: #ffffff;

	}
	.btn_cdv:active, .btn_cdv.active, .open > .dropdown-toggle.btn_cdv {
		color: #ffffff;
		background-color: #F24E4E;
		border-color: #B23939;
	}

	.btn_facebook {
		color: #ffffff;
		background-color: #428bca;
		border-color: #357ebd;
	}
	.btn_facebook:hover, .btn_facebook:focus, .btn-group.open .dropdown-toggle.btn_facebook {
		background-color: #3276b1;
		border-color: #285e8e;
		color: #ffffff;

	}
	.btn_facebook:active, .btn_facebook.active, .open > .dropdown-toggle.btn_facebook {
		color: #ffffff;
		background-color: #3276b1;
		border-color: #285e8e;
	}
	/* end button */

	/* become a cook */
	.become_cook_g1, .become_cook_g2, .become_cook_g3 {
		border-bottom: 1px dashed #eee;
		margin-bottom: 15px;
	}

	.become_cook h1 {
		color: #565a5c;
		font-weight: 600;
		margin-bottom: 35px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eeeeee;
	}
	.become_cook h3 {
		color: #565a5c;
		text-align: justify;
		font-size: 1.95em;
		margin-bottom: 15px;
	}
	.become_cook h4 {
		color: #3E4142;
		text-align: justify;
		line-height: 30px;
		margin-bottom: 100px;
	}
	.become_cook .title_cook {
		background: #f5f5f5;
	}
	.become_cook .title_cook h5 {
		color: #565a5c;
		font-weight: 600;

	}
	.become_cook .box_cook {
		margin-bottom: 50px;
		background: #f5f5f5;
		border: 1px solid #eeeeee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 15px 0px;
	}
	.become_cook .title_cook h2 {
		color: #ffffff;
	}
	.info_to_cook {
		background: #f5f5f5;
		padding: 55px 0px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-;

	}
	.info_to_cook .box_cook:hover .call_to_cook img {
		box-shadow: 2px 2px #888888;
		position: relative;
		top: 3px;
		right: -3px;
	}

	.call_to_cook {
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-;
	}
	.call_to_cook img {
		height: auto;
		width: 80px;
		padding: 15px;
		-moz-border-radius: 20px;
		margin: 10px auto;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		box-shadow: 5px 5px #6591B4;
		background: #89C4F4;
	}
	.call_to_cook img:hover {

	}
	.call_to_cook h5 {
		font-size: 1.2em;
		color: #3E4142;
		font-weight: 600;
	}
	.box_cook .text_cook {

	}
	.text_cook h6 {
		font-size: 1.1em;
		color: #3E4142;
		text-align: justify;
	}
	.image-preview-input {
		position: relative;
		overflow: hidden;
		margin: 0px;    
		color: #333;
		background-color: #fff;
		border-color: #ccc;    
	}
	.image-preview-input input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.image-preview-input-title {
		margin-left:2px;
	}
	.btn-upload {
		background-color: #4183D7;
		border-color: #2E5C97;
		color: #fff;
	}
	/* end become a cook */
	/* meals */
	.score i {
		color: #F7CA18;
	}
	.meal span.badge {
		background-color: #f24e4e;
		padding: 4px 7px;
	}
	.title_meals h3 {
		color: #838383;
		word-wrap: break-word;
		text-align: justify;
	}
	.show_profile_cook {
		padding: 10px 0px 10px 0px;
		background-color: #f9f9f9;
	}
	.show_profile_cook .edit .btn {
	}
	.show_profile_cook ul li:first-child {
		border-right: 1px solid #eeeeee;
	}
	/* end meals*/

	/* exibition meals */
	.search_meal .container {
		border-bottom: 1px solid #eeeeee;
	}

	#exibition_meal {
		margin-top: 10px;
	}
	#exibition_meal #map {
		margin-top: 20px;
	}
	#exibition_meal .meal .editar_remover_prato {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	#exibition_meal .well-sm a {
		color: #f24e4e;
	}
	#exibition_meal .well-sm a:hover {
		color: #878787;
	}
	#exibition_meal .meal .editar_remover_prato .edit {
		background: rgba(46, 204, 113, 0.65);
		border-right: 1px solid #fff;
	}
	#exibition_meal .meal .editar_remover_prato .edit .btn, #exibition_meal .meal .editar_remover_prato .remove .btn {
		color: #ffffff;
		font-size: 0.7em;
	}
	#exibition_meal .meal .editar_remover_prato .remove {
		background: rgba(246, 71, 71, 0.65);
	}
	/* end exibition meals */

	/* modal */
	.modal .modal-header {
		border-radius: 5px;
	}
	.sign_up_modal .modal-header, .login_modal .modal-header {
		background-color: #FBFBFB;
	}
	.sign_up_modal .tab-pane .modal-body {
		border-top: 1px solid #eeeeee;
		padding-top: 0px;
		margin-top: 20px;
	}

	.recovery_password {
		border-top: 1px dashed #cecece;
		background-color: #eeeeee;
		padding-bottom: 15px;
	}

	.facebook {
		margin-top: 20px;

	}

	.title_modal {
		color: #484848;
	}

	#cook .modal-body h3 {
		color: #484848;
	}
	#client h3 {
		color: #484848;
	}
	#client form .input-group {
		margin: 10px 0px;

	}
	#client form .input-group-addon {
		min-width: 45px;
	}

	#modal_reprovado .modal-header h4 {
		color: #ffffff;
	}
	#modal_reprovado .modal-header {
		background-color: #F64747;
	}
	#modal_reprovado .modal-content {
		border-color: #F64747;
	}
	#modal_reprovado .modal-footer .btn {
		color: #ffffff;
		background-color: #F64747;
	}


	#modal_aprovado .modal-header h4 {
		color: #ffffff;
	}
	#modal_aprovado .modal-header {
		background-color: #2ECC71;
	}
	#modal_aprovado .modal-content {
		border-color: #2ECC71;
	}
	#modal_aprovado .modal-footer .btn {
		color: #ffffff;
		background-color: #2ECC71;
	}

	#modal_atencao .modal-header h4 {
		color: #ffffff;
	}
	#modal_atencao .modal-header {
		background-color: #F2784B;
	}
	#modal_atencao .modal-content {
		border-color: #F2784B;
	}
	#modal_atencao .modal-footer .btn {
		color: #ffffff;
		background-color: #F2784B;
	}
	/* end modal*/

	#call_cook {
		display: none;
	}

	footer {
		background-color: #eeeeee;
		border-top: 1px solid #cecece;
	}

	footer .copyright {
		background-color: #cecece;
	}

	/* validation forms */
	.empty_input:before {

	}
	.filled_input:before {

	}
	.sad {
		position: absolute;
		right: 5px;
		top: 10px;
		height: auto;
		font-size: 1.4em;
		z-index: 9;
		color: #D64541;
	}
	.happy {
		position: absolute;
		right: 5px;
		top: 10px;
		height: auto;
		font-size: 1.4em;
		z-index: 9;
		color: #00B16A;
	}
	/* end validation forms */

	/* Credit Card Form */
	.usable-creditcard-form, .usable-creditcard-form * {
		font-size: 13px;
	}
	.usable-creditcard-form {
		position: relative;
		padding: 0px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.usable-creditcard-form .wrapper {
		border: 1px solid #CCC;
		border-top: 1px solid #AAA;
		border-right: 1px solid #AAA;
		height: 74px;
		width: 300px;
		position: relative;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.usable-creditcard-form .input-group {
		position: absolute;
		top: 300px;
	}
	.usable-creditcard-form .input-group.nmb_a {
		position: absolute;
		width: 200px;
		top: 0px;
		left: 0px;
	}
	.usable-creditcard-form .input-group.nmb_b {
		position: absolute;
		width: 100px;
		top: 0px;
		right: 0px;
	}
	.usable-creditcard-form .input-group.nmb_b input, .usable-creditcard-form .input-group.nmb_d input {
		text-align: center;
	}
	.usable-creditcard-form .input-group.nmb_c {
		position: absolute;
		width: 200px;
		top: 37px;
		left: 0px;
	}
	.usable-creditcard-form .input-group.nmb_d {
		position: absolute;
		width: 100px;
		top: 37px;
		right: 0px;
	}
	.usable-creditcard-form input {
		background: none;
		display: block;
		width: 100%;
		padding: 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin:0px;
		padding-left: 35px;
		border: none;
	}
	.usable-creditcard-form .input-group .icon {
		position: absolute;
		width: 22px;
		height: 22px;
		background: #CCC;
		left: 8px;
		top: 7px;
	}
	.usable-creditcard-form .input-group.nmb_a input {
		border-right: 1px solid #ECECEC;
	}
	.usable-creditcard-form .input-group.nmb_c input {
		border-top: 1px solid #ECECEC;
		border-right: 1px solid #ECECEC;
	}
	.usable-creditcard-form input::-webkit-input-placeholder {
		font-size: 12px;
		text-transform: none;
	}
	.usable-creditcard-form .input-group.nmb_d input {
		border-top: 1px solid #ECECEC;
	}
	.usable-creditcard-form .input-group.nmb_c input {
		text-transform: uppercase;
	}
	.usable-creditcard-form .accept {
		color: #999;
		font-size: 11px;
		margin-bottom: 5px;
	}
	.usable-creditcard-form .footer {
		margin-top: 3px;
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
	}
	.usable-creditcard-form .footer img {
		padding: 0px;
		margin: 0px;
	}
	.usable-creditcard-form .iugu-btn {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	/* Do not forget to store your images in a secure server */
	.usable-creditcard-form .input-group .icon.ccic-name {
		background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-name.1cafa1882fdd56f8425de54a5a5bbd1e.png") no-repeat;
	}
	.usable-creditcard-form .input-group .icon.ccic-exp {
		background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-exp.05e708b1489d5e00c871f20ba33bbff3.png") no-repeat;
	}
	.usable-creditcard-form .input-group .icon.ccic-brand {
		background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-brands.48dba03883007f86e118f683dcfc4297.png") no-repeat;
	}
	.usable-creditcard-form .input-group .icon.ccic-cvv {
		background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-cvv.1fe78dcc390427094bdc14dedea10f34.png") no-repeat;
	}
	.usable-creditcard-form .input-group .icon.ccic-cvv, .usable-creditcard-form .input-group .icon.ccic-brand {
		-webkit-transition:background-position .2s ease-in;
		-moz-transition:background-position .2s ease-in;
		-o-transition:background-position .2s ease-in;
		transition:background-position .2s ease-in;
	}
	.amex .usable-creditcard-form .input-group .icon.ccic-cvv {
		background-position: 0px -22px;
	}
	.amex .usable-creditcard-form .input-group .icon.ccic-brand {
		background-position: 0px -110px;
	}
	.visa .usable-creditcard-form .input-group .icon.ccic-brand {
		background-position: 0px -22px;
	}
	.diners .usable-creditcard-form .input-group .icon.ccic-brand {
		background-position: 0px -88px;
	}
	.mastercard .usable-creditcard-form .input-group .icon.ccic-brand {
		background-position: 0px -66px;
	}
	/* Non Credit Card Form - Token Area */
	.token-area {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px dotted #CCC;
		display: block;
		padding: 20px;
		background: #EFEFEF;
	}
	.submit-div {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
	.submit-div button {
		width: 100%;
		height: 40px;
	}
	.payment-method-btn-group {
		width: 300;
		margin: 5px;
		margin-bottom: 10px;
	}
	.payment-method-btn-group label.btn.btn-default {
		width: 150;
		margin: 0;
	}
	/* comunicação */
	.comunicacao {

	}
	.comunicacao .panel {

	}
	.comunicacao .panel .box {

	}
	.comunicacao .panel .box .conversas .list-inline li {
		display: inline-block;
	}
	.comunicacao .panel .box .conversas .nome {
		height: auto;
		font-size: 1.4em;
		max-width: 280px;
	}
	.comunicacao .panel .box .conversas .prev_mensagem {
		color: #8c8c8c;
		max-width: 220px;
		min-width: 220px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
	}
	.comunicacao .panel .box .conversas .status {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
	.comunicacao .panel .box .conversas .horario {
		font-size: 0.7em;
		position: absolute;
		bottom: 5px;
		right: 25px;
		color: #c7c7c7;
	}
	.comunicacao .panel .box .topo, .comunicacao .panel .box_conversa .topo {
		text-align: center;
		background: #eee;
		padding: 10px;
	}
	.comunicacao .panel .box .busca {
		padding: 10px 10px 1px;
		border-right: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
	}
	.comunicacao .panel .box_conversa .texto_conversa .data, .mensagem_modal .texto_conversa .data {
		text-align: center;
		color: #cecece;
		border-bottom: 1px solid #eee;
	}
	.comunicacao .panel .box_conversa .texto_conversa .texto, .comunicacao .panel .box_conversa .texto_conversa .resposta, .mensagem_modal .texto_conversa .resposta, .mensagem_modal .texto_conversa .texto, .mensagem_modal .texto_conversa .resposta {
		margin: 10px 5px 0px;
	}
	.comunicacao .panel .box_conversa .texto_conversa .texto span, .mensagem_modal .texto_conversa .texto span {
		color: #323232;
		background-color: rgba(242, 78, 78, 0.2);
		word-wrap: break-word;
		padding: 5px;
		-webkit-border-radius: 20px;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius: 20px;
		-moz-border-radius-bottomleft: 0;
		border-radius: 20px;
		border-bottom-left-radius: 0;
		display: -webkit-inline-box;
		max-width: 350px;
		box-shadow: 3px 1px rgba(242, 78, 78, 0.3);
	}
	.comunicacao .panel .box_conversa .texto_conversa .resposta span, .mensagem_modal .texto_conversa .resposta span {
		color: #878787;
		border: 1px solid #B4B4B4;
		word-wrap: break-word;
		padding: 5px;
		-webkit-border-radius: 20px;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius: 20px;
		-moz-border-radius-bottomright: 0;
		border-radius: 20px;
		border-bottom-right-radius: 0;
		display: -webkit-inline-box;
		max-width: 350px;
		box-shadow: -3px 1px #B4B4B4;
	}
	.comunicacao .panel .box_conversa .texto_conversa .tempo, .mensagem_modal .texto_conversa .tempo {
		font-size: 0.7em;
		color: #cecece;
		margin: 0px 5px;
	}
	.comunicacao .panel .box_conversa .texto_conversa .list-group {
		margin: 0px;
	}
	.comunicacao .panel .box_conversa .texto_conversa .campo_digitar {
		background: #cecece;
		padding: 15px;
		border-radius: 5px;
	}


	/* media queries */
	@media only screen and (max-width: 970px) {
		.bg_cook {
			background-size: 350px auto;
		}
		.conta_cliente .prato_degustado .divisao_prato {
			border-right: none;
		}
		.conta_cliente .prato_vendido .divisao_prato {
			border-right: none;
		}
	}
	@media only screen and (max-width: 768px) {
		.bg_corpo {
			height: 590px;
		}
		.bg_cook {
			background-size: 100px auto !important;
			background-position: 530px 55px;
		}
		.become_cook h3, .become_cook h4 {
		}
		.email {
			margin-top: 15px;
		}
		.cap_adress h1 {
			font-size: 32px;
		}
		.cap_adress h3 {
			font-size: 20px;
		}
		.choice {
			margin-top: 70px;
		}
		.meal_adress {
		}
		.detail_meal .meal_img img:hover + .img_profile {
			bottom: -120px;
		}
		.about_meal .description {
		}
		.meal_img .img_profile img {
			width: 25px;
		}
		.meal_img .img_profile {
			bottom: 0px;
		}
		.info_to_cook .box_cook {
			margin:10px 0 20px;
			border-bottom: 1px dashed rgba(255,255,255,0.2);
			padding-top: 10px;
			padding-bottom: 35px;
		}
		.info_to_cook .box_cook:last-child {
			border-bottom: 0px dashed rgba(255,255,255,0.2);
			padding-bottom: 0px;
		}
		.conta_cliente .prato_degustado .divisao_chef {
			border-right: none;
			min-height: auto;
		}
		.conta_cliente .prato_vendido .divisao_chef {
			border-right: none;
			min-height: auto;
		}
	}

	@media only screen and (max-width: 500px) {
		.bg_corpo {
			height: 650px !important;
		}
		.bg_cook {
			background-image: none;
		}
		.navbar-header .logomarca {
			max-width: 210px;
		}
		.logomarca span {
			font-size: 0.8em;
		}
		.cap_adress {
			margin-top: 15px;
		}
		#how_works img, #why_cook img {
			width: 25%;
			height: auto;
			margin: 0 auto;
		}
		.detail_meal .name_cook {
			font-size: 0.5em;
		}
		.detail_meal .rating {
			font-size: 0.5em;
		}
		.nav .chat .prev_mensagem span {

		}
	}
	/* fim media queries */
